function Game.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
call Board.new 0
pop this 0
push constant 0
pop this 5
push argument 0
pop this 3
push pointer 0
call Game.initializeShape 1
pop temp 0
push pointer 0
return
function Game.initializeShape 0
push argument 0
pop pointer 0
push this 5
push this 3
add
pop pointer 1
push that 0
call Shape.new 1
pop this 1
push pointer 0
push constant 2
push constant 2
call Game.initializePosition 3
pop temp 0
push pointer 0
push constant 0
call Game.setCurrentOrientation 2
pop temp 0
push pointer 0
call Game.draw 1
pop temp 0
push this 5
push constant 1
add
pop this 5
push constant 0
return
function Game.draw 0
push argument 0
pop pointer 0
push this 1
call Shape.getShapeMap 1
push pointer 0
call Game.getCurrentPosition 1
call Drawer.drawShape 2
pop temp 0
push constant 0
return
function Game.erase 0
push argument 0
pop pointer 0
push this 1
call Shape.getShapeMap 1
push pointer 0
call Game.getCurrentPosition 1
call Drawer.eraseShape 2
pop temp 0
push constant 0
return
function Game.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push local 0
push constant 90
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Game.updateOrientation 1
pop temp 0
label IF_FALSE1
push local 0
push constant 131
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push constant 0
push constant 1
neg
call Game.move 3
pop temp 0
label IF_FALSE2
push local 0
push constant 133
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push constant 0
push constant 1
call Game.move 3
pop temp 0
label IF_FALSE3
push local 0
push constant 130
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push constant 1
neg
push constant 0
call Game.move 3
pop temp 0
label IF_FALSE4
push local 0
push constant 132
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
push constant 1
push constant 0
call Game.move 3
pop temp 0
label IF_FALSE5
push constant 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.move 6
push argument 0
pop pointer 0
push this 1
call Shape.getWidth 1
pop local 0
push this 1
call Shape.getHeight 1
pop local 1
push this 1
call Shape.getOffset 1
pop local 5
push constant 0
push this 2
add
pop pointer 1
push that 0
push argument 1
add
pop local 2
push constant 1
push this 2
add
pop pointer 1
push that 0
push argument 2
add
pop local 3
push local 3
push pointer 0
push local 5
push constant 10
call Game.modulo 3
neg
lt
not
push local 3
push constant 16
push local 1
sub
push pointer 0
push local 5
push constant 10
call Game.modulo 3
sub
gt
not
and
push local 2
push local 5
neg
push constant 10
call Math.divide 2
lt
not
and
push local 2
push constant 32
push local 0
sub
push local 5
push constant 10
call Math.divide 2
sub
gt
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Game.erase 1
pop temp 0
push pointer 0
push local 2
push local 3
call Game.setCurrentPosition 3
pop temp 0
push pointer 0
call Game.draw 1
pop temp 0
label IF_FALSE0
push local 3
push constant 16
push local 1
sub
push pointer 0
push local 5
push constant 10
call Game.modulo 3
sub
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Game.erase 1
pop temp 0
push this 0
push this 1
call Shape.getShapeMap 1
push pointer 0
call Game.getCurrentPosition 1
call Board.addShapeToBoard 3
pop temp 0
push pointer 0
call Game.initializeShape 1
pop temp 0
label IF_FALSE1
push constant 15
call Sys.wait 1
pop temp 0
push constant 0
return
function Game.initializePosition 0
push argument 0
pop pointer 0
push constant 2
call Array.new 1
pop this 2
push pointer 0
push argument 1
push argument 2
call Game.setCurrentPosition 3
pop temp 0
push constant 0
return
function Game.setCurrentPosition 0
push argument 0
pop pointer 0
push constant 0
push this 2
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 2
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Game.getCurrentPosition 0
push argument 0
pop pointer 0
push this 2
return
function Game.setCurrentOrientation 0
push argument 0
pop pointer 0
push this 4
pop this 4
push constant 0
return
function Game.getCurrentOrientation 0
push argument 0
pop pointer 0
push this 4
return
function Game.updateOrientation 0
push argument 0
pop pointer 0
push this 4
push constant 3
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 4
goto IF_END0
label IF_FALSE0
push this 4
push constant 1
add
pop this 4
label IF_END0
push pointer 0
call Game.erase 1
pop temp 0
push this 1
push this 4
call Shape.setOrientation 2
pop temp 0
push pointer 0
call Game.draw 1
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
push constant 0
return
function Game.modulo 2
push argument 0
pop pointer 0
push argument 1
push argument 2
call Math.divide 2
pop local 0
push argument 1
push argument 2
push local 0
call Math.multiply 2
sub
pop local 1
push local 1
return
